# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
*.pot
*.pyc

# Virtual Environments
venv/
ENV/
env/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations
**/migrations/*.py
!**/migrations/__init__.py
